/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2016-04-20, 10:35:50
    Author     : jaroslaw
*/

header#tmp-header {
    height: 100px;
}
nav#tmp-nav {
    padding-top: 90px;
}

div.processing-container {
    overflow: hidden;
}

div.task-dispatcher {
    float: left;
    display: block;
    width: 350px;
    border: 1px #000 solid;
    margin: 10px;
}

.task-dispatcher h4 {
    text-align: center;
    border-bottom: #265a88 3px solid;
    font-size: 12px;
    padding: 5px;
    margin: 0;
    font-weight: bold;
}

div.processing-units {
    padding: 0 5px;
}


div.processing-units .single-unit  {
    padding: 5px;
    list-style: none;
    margin: 5px 0;
    border: 1px #2aabd2 solid;
}
div.processing-units .single-unit li p {
    padding: 0 5px;
    margin: 5px 0;
}



div.tasks-box {
    font-size: 10px;
    margin: 0;
    border: #333 1px dashed;
    margin-bottom: 3px;
}

p.simulation-parameters {
    margin-bottom: 5px;
}

p.simulation-parameters span {
    font-weight: bold;
    font-size: 11px;
}

ul.tasks-list {
    list-style:  none;
    margin: 0;
    padding: 0;
}

p.unit-details {
    font-size: 10px;
}

div#monitoring {
    overflow: hidden;
}

div#monitoring .type {
    float: left;
    display: block;
    width: 250px;
    border: 1px #000 solid;
    margin: 10px;
}

div#monitoring .type h4 {
    text-align: center;
    border-bottom: #255625 3px solid;
    font-size: 12px;
    padding: 5px;
    margin: 0;
    font-weight: bold;
}

div#monitoring .type p {
    margin: 5px;
    padding: 0 5px;
    font-size: 11px;
}

#footer {
    border-top: 1px #333 solid;
    margin: 25px 0 150px 0;
    
}

.details-toogle {
    text-align: right;
    margin: 0;
    color:  #265a88;
}

#remove-btn {
    padding: 0 5px;
}

ul.paths li {
    font-size: 11px;
}
