<header id="tmp-header">

</header>
<div class="container">
  <div class="row">
    <div class="col-md-9">
      <router-outlet></router-outlet>
      <a [routerLink]="['/simulate']"></a>
    </div>
    <div class="col-md-3">
      <nav id="tmp-nav">
        <ul class="nav">
          <li><a href="http://localhost:8080/msom/index.html">Home</a></li>
          <li><a href="http://localhost:8080/msom/tasktypes">Task Types</a></li>
          <li><a href="http://localhost:8080/msom/tasks">Tasks</a></li>
          <li><a href="http://localhost:8080/msom/modules">Modules Management</a></li>
          <li><a href="http://localhost:8080/msom/distributions">Probability Management</a></li>
          <li><a href="http://localhost:8080/msom/controllerunits">Controller Units</a></li>
          <li><a href="http://localhost:8080/msom/models">Models</a></li>
          <li class="nav-divider"></li>
          <li><a href="http://localhost:8080/msom/processingsystem">Processing Systems</a></li>
        </ul>
      </nav>
    </div>
  </div>
</div>