 <div *ngIf="processingSystem">
 <h1  class="page-header">Processing Systems</h1>
      <p class="lead">
      </p>
      <h3>Processing System <strong>{{processingSystem.name}}</strong></h3>
      <span>Temporary buttons:</span>
      <a href="/msom/processingsystem/reset/${processingSystem.id}">Reset</a> |
      <a href="/msom/processingsystem/simulate/${processingSystem.id}">Next simulation step</a>
      <br/>
      <span>Proposed buttons:</span>
      <a href="#">Start simulation</a> |
      <a href="#">Stop simulation</a> |
      <a href="#">Clean simulation data and unlock processing system</a>

      <div class="processing-container">
        <div *ngFor="let taskDispatcher of processingSystem.taskDispatchers" class="task-dispatcher">
          <h4>{{taskDispatcher.name}}</h4>
          <div class="processing-units">
            <h5>Processing units:</h5>
            <div class="single-unit" *ngFor="let processingUnit of taskDispatcher.processingUnits">
              <h6><strong>{{processingUnit.name}}</strong> [cores: {{processingUnit.cores}}] [eff: {{processingUnit.efficiency}}]</h6>
              <p class="unit-details">
                Available types:
                <span *ngFor="let type of processingUnit.availableTypes">{{type}}, </span>
              </p>
              <app-task-box [tasks]="getTasksInProgress(processingUnit.tasks)" ></app-task-box>
              <app-queue-box [tasks]="getTasksInQueue(processingUnit.tasks)"> </app-queue-box>
            </div>
          </div>
        </div>
      </div>
      <div id="monitoring">
        <h4>Types statistics</h4>
        <app-task-stats *ngFor="let tasks of getTasksByType()" [tasks]="tasks" class="type">
        </app-task-stats>
      </div>
      <div id="footer">
        <h4>Explanation of shortcuts</h4>
        <p>TWT - Total Waiting Time</p>
        <p>TPT - Total Processing Time</p>
        <p>PC - Processing Count</p>
      </div>
      </div>